In [1]:
import tweepy
import datetime
import requests
import pandas as pd
import numpy as np
import time

In [2]:
#authetication
auth = tweepy.OAuthHandler("4PVKnYqWtvzSzFwMHokKB6mYy","cUa1AVKoWH2wGcQIZFHEIpkB04tUSHhsctxWzO11u1UWQqqRhV")
auth.set_access_token("1555060328714551296-4JDIPJpkuTarJOYZ4myOWLAaWz7hTv", "6rjPG7XXMeIMfrWrBABmZhXfAJj70Gv1IQqsBjh5fl5GT")

In [3]:
api = tweepy.API(auth)
client = tweepy.Client("AAAAAAAAAAAAAAAAAAAAANZ5fgEAAAAAhO0P3Bxz63SMcvSJlv0FlKqSzDY%3DcLLxwQgrye4wcLytJOT8eHA7mFvRYapoRah3eh7WUFF9QSA3ha")

In [4]:
office_tweets = []
for response in tweepy.Paginator(client.search_all_tweets, 
                                 query = 'backtooffice OR back2office OR returntowork OR returntooffice OR return2office -is:retweet lang:en',
                                 user_fields = ['username', 'location'],
                                 tweet_fields = ['created_at', 'geo', 'text'],
                                 expansions = 'author_id',
                                 start_time = '2022-04-01T00:00:00Z',
                                 end_time = '2022-10-31T00:00:00Z',
                              max_results=500):
    time.sleep(1)
    office_tweets.append(response)

In [5]:
result = []
user_dict = {}
# Loop through each response object
for response in office_tweets:
    # Take all of the users, and put them into a dictionary of dictionaries with the info we want to keep
    for user in response.includes['users']:
        user_dict[user.id] = {'username': user.username, 
                              'location': user.location
                             }
    for tweet in response.data:
        # For each tweet, find the author's information
        author_info = user_dict[tweet.author_id]
        # Put all of the information we want to keep in a single dictionary for each tweet
        result.append({'author_id': tweet.author_id, 
                       'username': author_info['username'],
                       'author_location': author_info['location'],
                       'text': tweet.text,
                       'created_at': tweet.created_at
                      })

# Change this list of dictionaries into a dataframe
df = pd.DataFrame(result)

In [6]:
df.shape[0]

11244

In [7]:
df

,author_id,username,author_location,text,created_at
0,3345194367,Corix_JC,"London, England",The Future of Work and the Great Realignment \...,2022-10-30 22:05:01+00:00
1,1309334978795372544,_Jose_Rico,Dusseldorf,Learn more about the importance of agency coll...,2022-10-30 20:00:36+00:00
2,614598187,swetaregmi,Canada,#returntowork ?\n are #scentpolicy in place? \...,2022-10-30 19:00:16+00:00
3,130533518,chpar22,None,RT @mtptproject: #KITdays for coaching! \n\nCo...,2022-10-30 16:50:47+00:00
4,736472070,corixpartners,"London, UK",RT @Corix_JC: #Hybrid Work Is Not the Problem ...,2022-10-30 15:51:26+00:00
...,...,...,...,...,...
11239,1942523551,FlexisourceIT,"Victoria, Australia",Is your company one of those organizations ret...,2022-04-01 01:00:01+00:00
11240,295475781,KatieRitchie131,"Baltimore, MD",Search results for “work pants that feel like ...,2022-04-01 00:58:42+00:00
11241,18665100,brianpelliott,"San Francisco, CA",@FutureForum Myth 2 driving #ReturnToOffice: t...,2022-04-01 00:38:34+00:00
11242,1306136273782935553,MentalHealthBo5,None,RT @mindnation: Feeling #stressed and #anxious...,2022-04-01 00:05:09+00:00
11243,1093476147189305346,mindnation,Singapore,Feeling #stressed and #anxious about returning...,2022-04-01 00:05:04+00:00

In [8]:
df.to_csv('data3.csv', index = False)